/*--=========== Google Font================--*/
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Raleway:wght@400;500;600&display=swap");
* {
  font-family: "Raleway", sans-serif;
  font-family: "PT Serif", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --PT-Serif: "PT Serif", serif;
  --Releway: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*--=========== Layout ================--*/
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*--=========== Book A Call  ================--*/
.bookacall {
  font-family: var(--Releway);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
  background: #ff1111;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
